* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/F0.jpg);
  background-size: auto 100vh; 
  font-family: Arial;
  height: 100vh;
}

.menu {
  background-color: green;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: square; 
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.CA1 {
  color: yellowgreen;
  text-align: center;
}

.CA2 {
  color: greenyellow;
  text-align: center
}


H1 {
  margin: 1vh; 
  border: 1px solid green;
  padding: 0px;
}